section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
  h2.text-2xl.text-orange-700.font-bold.mb-4 Cartas disponibles en la comunidad
  = render partial: 'components/catalog', locals: {listings: @sell_listings}
