- if @matches && @matches.count > 0
  section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
    h2.text-2xl.text-orange-700.font-bold.mb-4 Encontramos estas cartas para vos
    div.flex.flex-wrap
      - @matches.each do |listing|
        div.w-48.rounded-lg.border.border-gray-300.bg-orange-100.p-2.m-1
          div.flex.justify-center
            div.w-20 class="#{listing.foil ? 'foil' : ''}"
              img.w-full src="#{listing.card.thumbnail_uri}"
          div.flex.justify-center
            - if listing.amount > 1
              span.text-sm.px-1 #{listing.amount}x
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://deckbox.org/mtg/#{URI.escape(listing.card.name)}" #{listing.card.name}
            - if listing.foil
              span.text-sm.uppercase.font-bold.tracking-wider.px-1 FOIL
          div.flex.justify-center
            div.text-xs.italic
              - if listing.set_not_confirmed
                span Edición no especificada. Mostrando 
              - if listing.any_set
                span Edición buscada no especificada, mostrando 
              span #{listing.card.set_name}
          - if listing.notes
            div.text-sm #{listing.notes}
          div
            span.text-gray-700.text-sm.font-bold USD 
            span.text-gray-800.text-xl #{number_with_precision(listing.price, precision: 2)} 
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://shop.tcgplayer.com/magic/product/show?newSearch=false&IsProductNameExact=false&ProductName=#{listing.card.name.gsub(" ", "+")}&orientation=list" target="_blank" Ver detalle de precios en TCG
          div.text-gray-600 #{listing.user.first_name} #{listing.user.last_name} 
          div.italic.text-gray-800.text-xs #{listing.user.phone}


- if @featured_listings && @featured_listings.count > 0
  section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
    h2.text-2xl.text-orange-700.font-bold.mb-4 Ofertas destacadas
    div.flex.flex-wrap
      - @featured_listings.each do |listing|
        div.w-48.rounded-lg.border.border-gray-300.bg-orange-100.p-2.m-1
          div.flex.justify-center
            div.w-20 class="#{listing.foil ? 'foil' : ''}"
              img.w-full src="#{listing.card.thumbnail_uri}"
          div.flex.justify-center
            - if listing.amount > 1
              span.text-sm.px-1 #{listing.amount}x
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://deckbox.org/mtg/#{URI.escape(listing.card.name)}" #{listing.card.name}
            - if listing.foil
              span.text-sm.uppercase.font-bold.tracking-wider.px-1 FOIL
          div.flex.justify-center
            div.text-xs.italic
              - if listing.set_not_confirmed
                span Edición no especificada. Mostrando 
              - if listing.any_set
                span Edición buscada no especificada, mostrando 
              span #{listing.card.set_name}
          - if listing.notes
            div.text-sm #{listing.notes}
          div
            span.text-gray-700.text-sm.font-bold USD 
            span.text-base.text-gray-500.line-through.mx-1 #{listing.foil ? listing.card.foil_price : listing.card.price}
            span.text-gray-800.text-xl #{number_with_precision(listing.price, precision: 2)} 
            div.flex.justify-end
              span.rounded.bg-orange-600.text-white.text-xs.font-bold.p-1 #{listing.discount}% OFF
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://shop.tcgplayer.com/magic/product/show?newSearch=false&IsProductNameExact=false&ProductName=#{listing.card.name.gsub(" ", "+")}&orientation=list" target="_blank" Ver detalle de precios en TCG
          div.text-gray-600 #{listing.user.first_name} #{listing.user.last_name} 
          div.italic.text-gray-800.text-xs #{listing.user.phone}

section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
  h2.text-2xl.text-orange-700.font-bold.mb-4 Cartas en venta en la comunidad
  .flex.justify-end.mb-4.text-white
    button.js-list-view.p-2.border.rounded-l.border-orange-500.font-bold.bg-orange-500 Ver Lista
    button.js-spoiler-view.p-2.border.rounded-r.border-orange-500.text-orange-500.font-bold Ver Imágenes
  table.sortable-theme-light.w-full.compact.stripe.hover.row-border id="sell-catalog-datatable" class="" data-source="#{sell_catalog_path(format: :json)}"
    thead
      tr
        th Carta
        th class='w-1/3' Precio
    tbody

|
  <script>
    $(document).ready(function() {
      const table = $('#sell-catalog-datatable').DataTable({
        autoWidth: false,
        language: {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ cartas",
          "sZeroRecords":    "No se encontraron cartas para los filtros elegidos",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando cartas _START_ a _END_ de un total de _TOTAL_ cartas",
          "sInfoEmpty":      "No hay cartas",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ cartas)",
          "sInfoPostFix":    "",
          "sSearch":         "",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        },
        "lengthChange": false,
        "pageLength": 15,
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": $('#sell-catalog-datatable').data('source')
        },
        order: [[1, "desc"]],
        "pagingType": "full_numbers",
        "columns": [
          {"data": "card_name", class: 'card-name'},
          {"data": "price", class: 'card-price'}
        ],
        "drawCallback": function() {
          $('tr').mouseover(function() {
            if (document.querySelector('.spoiler-view')) {
              $(this).children('.card-name').css('opacity', '1');
              $(this).children('.card-price').css('opacity', '1');
              $(this).children('.card-user').css('opacity', '1');
            }
          });
          $('tr').mouseout(function() {
            if (document.querySelector('.spoiler-view')) {
              $(this).children('.card-name').css('opacity', '');
              $(this).children('.card-price').css('opacity', '');
              $(this).children('.card-user').css('opacity', '');
            }
          });
        }
      });

      $('.js-list-view').click(function() {
        $('.js-list-view').addClass('bg-orange-500');
        $('.js-list-view').removeClass('text-orange-500');
        $('.js-spoiler-view').addClass('text-orange-500');
        $('.js-spoiler-view').removeClass('bg-orange-500');
        $('#sell-catalog-datatable').removeClass('spoiler-view');
      });
      $('.js-spoiler-view').click(function() {
        $('.js-list-view').addClass('text-orange-500');
        $('.js-list-view').removeClass('bg-orange-500');
        $('.js-spoiler-view').addClass('bg-orange-500');
        $('.js-spoiler-view').removeClass('text-orange-500');
        $('#sell-catalog-datatable').addClass('spoiler-view');
      });
			new autoComplete({
				data: {
					src: async () => {
						const query = document.querySelector("#sell-catalog-datatable_filter input").value;
						const source = await fetch(`https://api.scryfall.com/cards/autocomplete?q=${query}`);
						const response = await source.json();
						return response.data;
					},
					cache: false
				},
				selector: "#sell-catalog-datatable_filter input",   // Input field selector              | (Optional)
				threshold: 2,                        // Min. Chars length to start Engine | (Optional)
				debounce: 100,                       // Post duration for engine to start | (Optional)
				resultsList: {                       // Rendered results list object      | (Optional)
						render: true,
						container: (source) => {
							source.classList.add('absolute', 'border-b', 'w-full', 'bg-white', 'rounded-b', 'border-l', 'border-r');
						},
						destination: document.querySelector("#sell-catalog-datatable_filter input"),
						element: "ul"
				},
				maxResults: 5,                         // Max. number of rendered results | (Optional)
				highlight: true,                       // Highlight matching results      | (Optional)
				resultItem: {                          // Rendered result item            | (Optional)
					content: (data, source) => {
						source.innerHTML = data.match;
						source.classList.add('p-2', 'border-t', 'hover:bg-gray-200', 'text-left');
					},
					element: "li"
				},
				onSelection: feedback => {             // Action script onSelection event | (Optional)
					document.querySelector('#sell-catalog-datatable_filter input').value = feedback.selection.value;
          table.search( feedback.selection.value ).draw();
				}
			});
    });
  </script>
