- if @matches && @matches.count > 0
  section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
    h2.text-2xl.text-orange-700.font-bold.mb-4 Hay usuarios buscando tus cartas
    div.flex.flex-wrap
      - @matches.each do |listing|
        div.w-48.rounded-lg.border.border-gray-300.bg-orange-100.p-2.m-1
          div.flex.justify-center
            img.w-20 src="#{listing.card.thumbnail_uri}"
          div.flex.justify-center
            - if listing.amount > 1
              span.text-sm.px-1 #{listing.amount}x
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://deckbox.org/mtg/#{URI.escape(listing.card.name)}" #{listing.card.name}
            - if listing.foil
              span.text-sm.uppercase.font-bold.tracking-wider.px-1 FOIL
          div.flex.justify-center
            div.text-xs.italic
              - if listing.set_not_confirmed
                span Edición no especificada. Mostrando 
              - if listing.any_set
                span Edición buscada no especificada, mostrando 
              span #{listing.card.set_name}
          - if listing.notes
            div.text-sm #{listing.notes}
          div
            span.text-gray-700.text-sm.font-bold USD 
            span.text-gray-800.text-xl #{listing.foil ? listing.card.foil_price : listing.card.price} 
            a class="text-orange-600 hover:text-orange-400 cursor-pointer" href="https://shop.tcgplayer.com/magic/product/show?newSearch=false&IsProductNameExact=false&ProductName=#{listing.card.name.gsub(" ", "+")}&orientation=list" target="_blank" Ver detalle de precios en TCG
          div.text-gray-600 #{listing.user.first_name} #{listing.user.last_name} 
          div.italic.text-gray-800.text-xs #{listing.user.phone}

section.mb-12.bg-gray-100.py-4.px-2.rounded.border-gray-300.border
  h2.text-2xl.text-orange-700.font-bold.mb-4 Cartas buscadas en la comunidad
  .flex.justify-end.mb-4.text-white
      button.js-list-view.p-2.border.rounded-l.border-orange-500.font-bold.bg-orange-500 Ver Lista
      button.js-spoiler-view.p-2.border.rounded-r.border-orange-500.text-orange-500.font-bold Ver Imágenes
  table.sortable-theme-light.w-full.compact.stripe.hover.row-border id="buy-catalog-datatable" class="" data-source="#{buy_catalog_path(format: :json)}"
    thead
      tr
        th.w-16
        th Carta
        th Precio
        th Usuario
    tbody

|
  <script>
    $(document).ready(function() {
      $('#buy-catalog-datatable').DataTable({
        autoWidth: false,
        language: {
          url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
        },
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": $('#buy-catalog-datatable').data('source')
        },
        order: [[ 2, "desc" ]],
        "pagingType": "full_numbers",
        "columns": [
          {"data": "thumbnail_uri", sortable: false, class: 'card-thumbnail'},
          {"data": "card_name", class: 'card-name'},
          {"data": "price", class: 'card-price'},
          {"data": "user", class: 'card-user', sortable: false},
        ],
         "drawCallback": function() {
          $('tr').mouseover(function() {
            if (document.querySelector('.spoiler-view')) {
              $(this).children('.card-name').css('opacity', '1');
              $(this).children('.card-price').css('opacity', '1');
              $(this).children('.card-user').css('opacity', '1');
            }
          });
          $('tr').mouseout(function() {
            if (document.querySelector('.spoiler-view')) {
              $(this).children('.card-name').css('opacity', '');
              $(this).children('.card-price').css('opacity', '');
              $(this).children('.card-user').css('opacity', '');
            }
          });
        }
      });

      $('.js-list-view').click(function() {
        $('.js-list-view').addClass('bg-orange-500');
        $('.js-list-view').removeClass('text-orange-500');
        $('.js-spoiler-view').addClass('text-orange-500');
        $('.js-spoiler-view').removeClass('bg-orange-500');
        $('#buy-catalog-datatable').removeClass('spoiler-view');
      });
      $('.js-spoiler-view').click(function() {
        $('.js-list-view').addClass('text-orange-500');
        $('.js-list-view').removeClass('bg-orange-500');
        $('.js-spoiler-view').addClass('bg-orange-500');
        $('.js-spoiler-view').removeClass('text-orange-500');
        $('#buy-catalog-datatable').addClass('spoiler-view');
      });
    });
  </script>