ul.nav.navbar-nav.text-orange-900
  li= link_to('<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_path)
  li= link_to('<span class="glyphicon glyphicon-arrow-down"></span> Cartas en venta'.html_safe, sell_catalog_path)
  li= link_to('<span class="glyphicon glyphicon-arrow-up"></span> Cartas buscadas'.html_safe, buy_catalog_path)
  - if current_user
    li= link_to('<span class="glyphicon glyphicon-arrow-down"></span> Mi lista de compra'.html_safe, buy_listings_path)
    li= link_to('<span class="glyphicon glyphicon-arrow-up"></span> Mi lista de venta'.html_safe, sell_listings_path)
  li= link_to('<span class="glyphicon glyphicon-question-sign"></span> Acerca del sitio'.html_safe, info_path)
  - if current_user
    li= link_to('<span class="glyphicon glyphicon-user"></span> Mi Perfil'.html_safe, edit_user_registration_path)

ul.nav.navbar-nav.navbar-right.text-orange-900
  - if current_user
    li= link_to('<span class="glyphicon glyphicon-off"></span> Cerrar sesión'.html_safe, destroy_user_session_path, method: 'delete')
  - else
    li= link_to('<span class="glyphicon glyphicon-log-in"></span> Iniciar sesión'.html_safe, new_user_session_path)
    li= link_to('<span class="glyphicon glyphicon-saved"></span> Registrarme'.html_safe, new_user_registration_path)
